* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
nav {
  background-color: grey;
  padding: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.logoNav {
  position: absolute;
  left: 15px;
}
.logoNav a {
  text-decoration: none;
  color: black;
}

.ulNav {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
}
.ulNav li {
  margin: 0 20px;
}
.ulNav li a {
  text-decoration: none;
  color: black;
}
.ulNav li a:hover{
  font-size:1.1em;
  font-weight:bold;
}
.imgCarrito {
  position: absolute;
  top: 5px;
  right: 25px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 1px solid black;
  width: 3em;
  height: 3em;
  cursor: pointer;
}
.imgCarrito img {
  padding: 8px;
  width: 100%;
  height: 100%;
}
#inicio {
  height: 80vh;
  background-image: url("./imagenes_tenis/pelota_tenis.jpg");
  background-size: cover;
  background-position: center;
}
.inicio-texto {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inicio-texto h1 {
  margin: 30px;
  color: #98560a;
  font-size: 2.5rem;
}
.inicio-texto h2 {
  margin-left: 180px;
  color: #98560a;
  font-size: 2rem;
}
.section2 {
  height: 50vh;
}
.section2 h2 {
  text-align: center;
  margin: 50px;
}
.marcas {
  margin: 0 auto;
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.marca {
  margin: 10px;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid black;
}
.marca img {
  padding: 5px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.contenedormarca {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3 {
  background-color: #cb9c54;
  margin: 12vh 0 0 0;
  height: 130vh;
  display: flex;
  flex-direction: column;
}
.contenedor-section3 {
  width: 100%;
  height: 50%;
  display: flex;
}
.section3-contenedor-img {
  height: 100%;
  width: 50%;
}
.section3-img {
  width: 100%;
  height: 100%;
}

.section3-contenido {
  height: 100%;
  width: 50%;
}
.section3-ul li {
  list-style: none;
  margin: 20px;
  font-size: 18px;
}
.section3-contenido h2 {
  text-align: center;
  margin: 20px;
}
.section4 {
  height: 50vh;
  display: flex;
  justify-content: center;
}
.publicidad {
  margin: auto;
  width: 70%;
  height: 40vh;
  background: radial-gradient(circle, #faa72a, #d98c1f, #b97115);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.publicidad h2 {
  color: black;
  margin: 10px;
}
.publicidad button {
  background-color: #98560a;
  height: 50px;
  width: 200px;
  margin-top: 30px;
  border: 2px solid black;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
.publicidad button a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
.section5 {
  background-color: #ffeda6;
  height: 100vh;
  font-size: 20px;
}
.section5 h2 {
  text-align: center;
  padding: 20px;
}
.contenedorComentarios {
  display: flex;
  height: 70%;
  width: 100%;
  margin: 10px auto;
}
.fotoAutor {
  background-image: url("./imagenes_tenis/autor1messi.webp");
  background-size: cover;
  background-position: center;
  margin: 10px;
  width: 550px;
  height: 270px;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#comentarios {
  width: 100em;
  height: auto;
  display: flex;
  align-items: center;
}
#comentarios h3 {
  margin: 20px;
  letter-spacing: 3px;
  font-family: Georgia, serif;
}
.autores {
  position:relative;
  bottom:-30px;
  width: 12em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.autoresLista {
  display: flex;
  justify-content: center;
  
   }
.autoresLista li {
  margin: 5px;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  list-style-type: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.autoresLista li:hover{
  transition:0.5s;
  height: 60px;
  box-shadow: 0 0 10px black;
}
#primerLi {
  background-image: url("./imagenes_tenis/autor1messi.webp");
  background-size: cover;
  background-position: center;
}
#segundoLi {
  background-image: url("./imagenes_tenis/autor2.jpg");
  background-size: cover;
  background-position: center;
}
#tercerLi {
  background-image: url("./imagenes_tenis/autor3.jpg");
  background-size: cover;
  background-position: center;
}
#autorNombre {
  position: absolute;
  right: 10px;
  width: 30%;
  height: 40px;
  
}
#autorNombre h4 {
  font-family: Georgia, serif;
}
.section6 {
  margin-top: 30px;
  height: 70vh;
}
.section6 h2 {
  margin-left: 20px;
}
.productos-populares {
  width: 90%;
  height: 50vh;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}
.producto {
  height: 100%;
  width: 20%;
  background-color: #faa72a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.producto h2 {
  font-size: 20px;
  margin-top: 20px;
}
.img-producto {
  margin: 5px;
  height: 50%;
  width: 50%;
}
.producto button {
  background-color: #98560a;
  height: 50px;
  width: 150px;
  margin: 10px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 15px ;
  -webkit-border-radius: 15px ;
  -moz-border-radius: 15px ;
  -ms-border-radius: 15px ;
  -o-border-radius: 15px ;
}
.producto button a{
  text-decoration:none;
  color:black;
}
footer {
  background-color: #ffeda6;
  padding: 50px;
}
footer p {
  text-align: center;
}
@media (max-width: 830px) {
  .inicio-texto h1{
font-size:2em
  }
 .inicio-texto h2{
  margin-left: 100px;
font-size:1.5em;

  } 
  .section2 {
    height: 120vh;
  }
  .marcas {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .contenedor-section3 {
    flex-direction: column;
    align-items: center;
  }
  .section3 {
    height: auto;
  }
  .section3-contenedor-img {
    margin: 20px;
  }
  .contenedorComentarios {
    flex-direction: column;
    align-items: center;
  }
  .section5 {
    height: 130vh;
  }
  .publicidad button{
    width: 70%;
  }
  #comentarios {
    width: auto;
  }
  .fotoAutor {
    width: 12em;
    height: 12em;
  }
  .autoresLista {
    margin: 10px;
  }
  .productos-populares {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .producto {
    margin: 20px;
    height: auto;
    width: 70%;
  }
  .section6 {
    height: auto;
  }
  }
#main {
  background: rgb(251,173,55);
  background: linear-gradient(318deg, rgba(251,173,55,1) 7%, rgba(219,138,33,1) 46%, rgba(204,114,10,1) 82%);
}
.tituloTienda {
  text-align: center;
  padding: 20px;
  font-size: 4em;
}
.tiendaBuscador {
  display: flex;
 justify-content:center;
 align-items:center;
  width: 90%;
  height: 5vh;
  margin: 40px;
}
.tiendaBuscador img{
width: 40px;
}
.tiendaBuscador input {
  width: 50%;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -ms-border-radius:20px;
  -o-border-radius:20px;
  border:2px solid black;
  height: 40px;
}
.tienda {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content:center;
}
.tiendaFiltros {
  width: 25%;
  height: 90vh;
  display: flex;
}

.filtros {
  border: 1px solid black;
  position:relative;
bottom: -50px;
  height: 100%;
  width: 70%;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.filtros h1{
  font-size:1.5em;
  margin:10px;
}

.tiendaContenedor {
  margin-top: 40px;
  width: 70%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 3px solid black;
  -webkit-box-shadow: -1px 2px 24px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 24px -1px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 24px -1px rgba(0,0,0,0.75);  
}

.productoTienda {
  height: 24rem;
  width: calc(33.33% - 15px);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:5px;
  text-align: center;
}
.productoTienda h2 {
  margin: 10px;
}
.img-productoTienda {
  margin-buttom: 10px;
  height: 50%;
  width: 90%;
  object-fit: contain;
}
.botonAgregarCarrito {
  background-color: #98560a;
  height: 3em;
  width: 70%;
  margin: 5px;
  cursor:pointer;
  position:relative;
  bottom:5px;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
  font-weight:bold;
  font-size:1.1em;
}
.botonAgregarCarrito:hover{
  -webkit-box-shadow: -1px 2px 24px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 24px -1px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 24px -1px rgba(0,0,0,0.75);
}

#toggleCarrito {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -300px; 
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
  z-index: 2;
  overflow: auto;
}

#cerrarCarrito {
  cursor: pointer;
  background-color: #dc3545;
  color: #fff;
  padding: 8px 10px;
  position:absolute;
  z-index: 10;
  top:0px;
  left:0;
}
.tituloCarrito{
  text-align:center;
  margin:20px;
  font-size:2.5em;
}
.cantidadProductosTexto{
text-align:center;
margin:5px;
}
.totalProductosTexto{
margin:10px;
font-size:1.5em;
text-align:center;
}
.contenedorCarrito{
  border-top:2px solid black;
  margin:10px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.contenedorCarrito h3{
  text-align:center;
  padding:5px;
  font-size:1.3em;
}
.precioCantidad{
  display:flex; 
  justify-content:space-around;
  margin:10px;
}
.eliminarDelCarrito{
  margin:5px;
  background-color:#98560a;
  height: 2.5em;
  border-radius:15px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  -ms-border-radius:15px;
  -o-border-radius:15px;
  font-weight:bold;
  font-size:1em;
  cursor: pointer;
}
.eliminarDelCarrito:hover{
  -webkit-box-shadow: -1px 2px 24px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 24px -1px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 24px -1px rgba(0,0,0,0.75);
}

.filtro{
  width: 80%;
  height: 3em;
  background-color:white;
  margin:30px;
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:30px;
  font-weight:bold;   
  cursor: pointer;
   }
   .filtro:hover{
    webkit-box-shadow: -1px 2px 24px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 24px -1px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 24px -1px rgba(0,0,0,0.75);
   }
  
.filtrosActivo{
background-color:#98560a;
color:white;
font-weight:bold;
webkit-box-shadow: -1px 2px 24px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 24px -1px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 24px -1px rgba(0,0,0,0.75);
}