* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
nav {
  background-color: grey;
  padding: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.logoNav {
  position: absolute;
  left: 15px;
}
.logoNav a {
  text-decoration: none;
  color: black;
}

.ulNav {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
}
.ulNav li {
  margin: 0 20px;
}
.ulNav li a {
  text-decoration: none;
  color: black;
}
.imgCarrito {
  position: absolute;
  top: 5px;
  right: 25px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 1px solid black;
  width: 3em;
  height: 3em;
  cursor: pointer;
}
.imgCarrito img {
  padding: 8px;
  width: 100%;
  height: 100%;
}
#inicio {
  height: 80vh;
  background-image: url("./imagenes_tenis/pelota_tenis.jpg");
  background-size: cover;
  background-position: center;
}
.inicio-texto {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inicio-texto h1 {
  margin: 30px;
  color: #98560a;
  font-size: 2.5rem;
}
.inicio-texto h2 {
  margin-left: 180px;
  color: #98560a;
  font-size: 2rem;
}
.section2 {
  height: 50vh;
}
.section2 h2 {
  text-align: center;
  margin: 50px;
}
.marcas {
  margin: 0 auto;
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.marca {
  margin: 10px;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid black;
}
.marca img {
  padding: 5px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.contenedormarca {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3 {
  background-color: #cb9c54;
  margin: 12vh 0 0 0;
  height: 130vh;
  display: flex;
  flex-direction: column;
}
.contenedor-section3 {
  width: 100%;
  height: 50%;
  display: flex;
}
.section3-contenedor-img {
  height: 100%;
  width: 50%;
}
.section3-img {
  width: 100%;
  height: 100%;
}

.section3-contenido {
  height: 100%;
  width: 50%;
}
.section3-ul li {
  list-style: none;
  margin: 20px;
  font-size: 18px;
}
.section3-contenido h2 {
  text-align: center;
  margin: 20px;
}
.section4 {
  height: 50vh;
  display: flex;
  justify-content: center;
}
.publicidad {
  margin: auto;
  width: 70%;
  height: 30vh;
  background: radial-gradient(circle, #faa72a, #d98c1f, #b97115);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.publicidad h2 {
  color: black;
  margin: 10px;
}
.publicidad button {
  background-color: #98560a;
  height: 50px;
  width: 200px;
  margin-top: 30px;
  border: 2px solid black;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
.publicidad button a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
.section5 {
  background-color: #ffeda6;
  height: 80vh;
  font-size: 20px;
}
.section5 h2 {
  text-align: center;
  padding: 20px;
}
.contenedorComentarios {
  display: flex;
  height: 50%;
  width: 100%;
  margin: 20px auto;
}
.fotoAutor {
  background-image: url("./imagenes_tenis/autor1messi.webp");
  background-size: cover;
  background-position: center;
  margin: 10px;
  width: 550px;
  height: 270px;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#comentarios {
  width: 130em;
  display: flex;
  align-items: center;
}
#comentarios h3 {
  margin: 20px;
  letter-spacing: 3px;
  font-family: Georgia, serif;
}
.autores {
  width: 22%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.autoresLista {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.autoresLista li {
  margin: 5px;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  list-style-type: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.autoresLista li:hover{
  transition:0.5s;
  height: 60px;
  box-shadow: 0 0 10px black;
}
#primerLi {
  background-image: url("./imagenes_tenis/autor1messi.webp");
  background-size: cover;
  background-position: center;
}
#segundoLi {
  background-image: url("./imagenes_tenis/autor2.jpg");
  background-size: cover;
  background-position: center;
}
#tercerLi {
  background-image: url("./imagenes_tenis/autor3.jpg");
  background-size: cover;
  background-position: center;
}
#autorNombre {
  position: absolute;
  right: 30px;
  width: 30%;
  height: 40px;
}
#autorNombre h4 {
  font-family: Georgia, serif;
}
.section6 {
  margin-top: 30px;
  height: 70vh;
}
.section6 h2 {
  margin-left: 20px;
}
.productos-populares {
  width: 90%;
  height: 50vh;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}
.producto {
  height: 100%;
  width: 20%;
  background-color: #faa72a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.producto h2 {
  font-size: 20px;
  margin-top: 20px;
}
.img-producto {
  margin: 5px;
  height: 50%;
  width: 50%;
}
.producto button {
  background-color: #98560a;
  height: 50px;
  width: 150px;
  margin: 10px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 15px ;
  -webkit-border-radius: 15px ;
  -moz-border-radius: 15px ;
  -ms-border-radius: 15px ;
  -o-border-radius: 15px ;
}
.producto button a{
  text-decoration:none;
  color:black;
}
footer {
  background-color: #ffeda6;
  padding: 50px;
}
footer p {
  text-align: center;
}
@media (max-width: 830px) {
  .section2 {
    height: 120vh;
  }
  .marcas {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .contenedor-section3 {
    flex-direction: column;
    align-items: center;
  }
  .section3 {
    height: auto;
  }
  .section3-contenedor-img {
    margin: 20px;
  }
  .contenedorComentarios {
    flex-direction: column;
    align-items: center;
  }
  .section5 {
    height: auto;
  }
  #comentarios {
    width: auto;
  }
  .fotoAutor {
    width: 20em;
    height: 20em;
  }
  .autoresLista {
    margin: 10px;
  }
  .productos-populares {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .producto {
    margin: 20px;
    height: auto;
    width: 70%;
  }
  .section6 {
    height: auto;
  }
}
#main {
  background-color: #faa72a;
}
.tituloTienda {
  text-align: center;
  padding: 20px;
  font-size: 4em;
}
.tiendaBuscador {
  display: flex;
  justify-content: center;
  width: 95%;
  height: 5vh;
  margin: 40px;
}
.tiendaBuscador input {
  width: 50%;
}
.tienda {
  width: 100%;
  height: 400vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tiendaFiltros {
  width: 25%;
  height: 100vh;
  display: flex;
}

.filtros {
  border: 1px solid black;
  height: 100%;
  width: 70%;
}
.tiendaContenedor {
  margin-top: 40px;
  width: 70%;
  height: 370vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid black;
}

.productoTienda {
  height: 24rem;
  width: calc(33.33% - 10px);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.productoTienda h2 {
  margin: 10px;
}
.img-productoTienda {
  margin-buttom: 10px;
  height: 50%;
  width: 90%;
  object-fit: contain;
}
.botonAgregarCarrito {
  background-color: #98560a;
  height: 3em;
  width: 70%;
  margin: 5px;
  cursor:pointer;
  position:relative;
  bottom:5px;
}

#toggleCarrito {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -300px; 
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
  z-index: 2;
}

#cerrarCarrito {
  cursor: pointer;
  background-color: #dc3545;
  color: #fff;
  padding: 8px 10px;
  position:absolute;
  top:0px;
  left:0;
}
.tituloCarrito{
  text-align:center;
  margin:20px;
  font-size:2.5em;
}
.cantidadProductosTexto{
text-align:center;
margin:5px;
}
.totalProductosTexto{
margin:10px;
font-size:1.6em;
}

